#contact {
    background:
        linear-gradient(to left, rgba(20,0,30, 0.8), rgba(180,0,255, 0.8)),
        url("../images/hero.jpg");
    padding: 5% 10%;
    color: white;
    text-align: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    text-align: left;
}

#contact input, textarea {
    color: white;
    background: transparent;
    border: 2px solid white;
    margin-bottom: 18px;
    margin-top: 5px;
    padding:10px;
    width: 100%;
    opacity: 0;
    transition: 0.5s;
    transform: translateX(-50px);
}

#contact textarea {
     height: 200px;
     transform: translateX(100px);
}

::placeholder {
    color: rgba(255,255,255,0.6);
}

#footer {
  padding: 20px;
  color: #fff;
  background: #3c3c3c;
  width: 100%;
  display: inline-block;
}

#footer a{
  display:inline-block;
  text-align: right;
  padding: 0;
  color: #fff;
  transition:0.2s;
  letter-spacing: 10px;
  font-size: 15px;
}

#footer a:hover {
    color: #00ccff;
    transform: scale(1.2) translateY(-3px);
}

#footer .backtotop {
    font-size: 30px;
    position: absolute;
    margin-top: -30px;
    right: 20px;
}
