:root {
  --background-color: #fff;
  --text-color: #3c3c3c;
  --theme-color: #00ccff;
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: "Open Sans";
    border: 0;
    padding: 0;
    margin: 0;
    font-size: 18px;
    overflow-x: hidden;
}

::selection {
    background: var(--theme-color);
}

.content {
    overflow-x: hidden;
}

h2 {
    font-size: 60px;
    text-align: center;
    color: var(--text-color);
    text-transform: uppercase;
}

h1 {
    font-size: 14vw;
    color: var(--background-color);
    text-transform: uppercase;
    font-weight: bold;
}

h3 {
    font-size: 35px;
}
#hero {
    color: #fff;
    text-align: center;
    background:
        linear-gradient(to left, rgba(0,70,150, 0.8), rgba(0,255,255, 0.8)),
        url("../images/hero.jpg");
    background-size: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    height: 100vh;
    padding-top: 20%;
}

#hero #last-name {
    color: transparent;
     -webkit-text-stroke: 2px var(--background-color);;
}

.social-media {
    position: relative;
    top:-130px;
    opacity: 0;
    transition: 0.6s;
    text-align: justify;
    padding: 0 9%;
}

.social-media-icon {
    position: relative;
    display: inline-block;
    transition: 0.2s;
    bottom: -60px;
    color: var(--background-color);
    font-size: 20px;
    letter-spacing: 5px;
}

.social-media-icon:hover {
    color: gray;
    transform: scale(1.2) translateY(-3px);
}

.card {
    background: var(--background-color);
    color: var(--text-color);
    border: 1px solid black;
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.3), 0 3px 6px 0 rgba(0, 0, 0, 0.3), 0 5px 3px -3px rgba(0, 0, 0, 0.6);
    border-radius: 10px;
    transition: 0.4s;
    padding: 15px;
}

#toggle {
    padding: 3%;
    text-align: center;
    background: var(--background-color);
    color: var(--text-color);
}

#toggle button{
    margin: 0.5%;
}

#about .quote {
    color: var(--text-color);
    padding: 4%;
    text-align: center;
    z-index: 4;
    text-transform: uppercase;
}

#about .quote h3 {
    font-size: 30px;
}

#about .row {
    background: var(--background-color);
    margin: 0;
    width: 100%;
    position: relative;
    z-index: 3;
}

#about .card {
    margin: 7% 2% 2% 2%;
    min-height: 25vw;
}

#about .card.philosophy {
    background:
        linear-gradient(rgba(255, 255, 255, 0.7),
            rgba(255, 255, 255, 0.7)),
        url("../images/portrait.jpg");
    color: #3c3c3c;
    background-size: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    padding: 3%;
}

#about .card.philosophy h2{
    color: #3c3c3c;
}

#about .about.card {
    background:
        linear-gradient(rgba(0, 0, 0, 0.5),
            rgba(0, 0, 0, 0.5)),
        url("../images/portrait-blackwhite.jpg");
    color: white;
    background-size: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    padding: 3%;
}

#about .resume.row {
    padding-top: 20px;
    display:block;
    text-align: center;
}

#highlights {
    position:relative;
    background: var(--background-color);
    margin: auto;
    width: 100%;
    text-align: left;
}

#highlights .row {
    margin: 0;
    width: 100%;
    padding: 3% 2%
}

#highlights ul {
    z-index:3;
}

#highlights .card {
    margin: 2% 0;
    min-height: 350px;
    padding: 2%;
    z-index: 3;
    position: relative;
}

#highlights h3 {
    padding-top: 3%;
    text-align: center;
    text-transform: uppercase;
}

#highlights .card:after {
    font-weight:900;
    content:'\f630';
    font-family:'Font Awesome 5 Free';
    font-size: 150px;
    position:absolute;
    top:70px;
    left:calc(50% - 90px);
    z-index: 0;
    opacity: 0.2;
}

#highlights .theater:after {
    content:'\f630';
}

#highlights .bridge:after {
    content:'\f004';
}


#highlights .speech:after {
    content:'\f086';
}

#stats {
    background:
        linear-gradient(to right, rgba(253,200,48, 0.8), rgba(243,115,53, 0.8)),
        url("../images/hero.jpg");
    background-size: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    color: var(--background-color);
    text-align: center;
    padding: 3%;
    font-size: 3.5em;
}

#stats div{
    padding: 3%;
}

#stats span {
    font-size: 20px;
}

#skills {
    padding: 5%;
    background: var(--background-color);
    color: var(--text-color);
}

#skills .progress {
    margin-bottom: 2%;
    height: 20px;
}

#skills .progress-bar {
    width: 0;
    background-color: var(--theme-color);
}

button{
  background:var(--text-color);
  color:var(--background-color);
  border:none;
  position:relative;
  font-size:0.9em;
  padding:15px 2em;
  cursor:pointer;
  transition:0.4s ease all;
  outline:none;
  border-radius: 5px;
  text-transform: uppercase;

}
button:hover{
    background:var(--background-color);
    color: var(--text-color);
    border-right: 2px solid var(--text-color);
    border-left: 2px solid var(--text-color);
}
button:before,button:after{
  content:'';
  position:absolute;
  top:0;
  right:0;
  height:2px;
  width:0;
  background: var(--text-color);
  transition:0.1s;
}
button:after{
  right:inherit;
  top:inherit;
  left:0;
  bottom:0;
}
button:hover:before,button:hover:after{
  width:100%;
  transition:800ms ease all;
}
