body {
    margin: 0;
    font-family: "Open Sans", "Roboto", sans-serif;
    background: #222;
    color: white;
}

* {
    transition: 0.2s;
}

li {
    padding-bottom: 10px;
}


#sidebar {
    height: 100%;
    width: 25vw;
    position: fixed;
    z-index: 1;
    background: #3c3c3c;;
    overflow-x: hidden;
    margin: 0 auto;
    text-align: center;
}

p {
    padding: 5%; 
}

#content {
    margin-left: 25vw;
    padding: 2%;
}

code.block {
    padding: 2%;
    background:#3c3c3c;
    display: block;
}

#content a {
    text-decoration: none;
    color: #999;
    transition: 0.3s;
}

#content a:hover {
    color: cyan;
}

#preview-title {
    font-size: 30px;
    cursor: pointer;
}

#preview-title a {
    text-decoration: none;
    color: white;
}

#preview-title a:hover {
    color: gray;
}

#tag {
    display: none;
}

#preview-date {
    text-transform: uppercase;
    color: gray;
}

#preview {
    color: #555;
}

.post {
    margin-bottom: 5%;
}

.welcome {
    font-size: 2em;
}

.logo {
    width:60%;
    padding:20px 0;
    cursor: pointer;
    }

.logo:hover {
    transform: scale(0.9) rotate3d(0,1,0, 180deg);
}

#title {
font-size: 40px;
padding-top: 20px;
}

#date {
    padding: 2% 0%;
    text-transform: uppercase;
    color: gray;
}

#body {
    font-size: 18px;
    line-height: 1.5;
}

.back {
    border: 1px solid white;
    cursor: pointer;
    color: white;
    padding: 10px;
    text-decoration: none;
}


img {
    max-width: 20em;
}

#content a.back:hover {
    background: white;
    color: #3c3c3c;
}

#filter {
    display: flex;
    flex-direction: column;
    width: 100%;
    justify-content: center;
}

#filter a {
    text-transform: uppercase;
        padding: 1%;
    margin-bottom:1%;
    cursor: pointer;
}

#filter a:hover {
    text-decoration: none;
    color:  #114499;
}

#filter a.active {
    color: #3c3c3c;
    background: white;
}

#theme-toggle {
    position: fixed;
    bottom: 10px;
    right: 10px;
}


@media screen and (max-width: 750px) {
    #sidebar { 
        position: relative;
        height: auto;
        width: 100%;
        padding:0;
    }

    .logo {
        width: 100px;
    }

    #content {
        margin-left: 0;
        padding: 3%;
    }

    #filter {
        display: inline;
        word-spacing: 15px;
    }

    img {
        max-width: 15em;
    }
}

td {
    padding: 1%;
}