#projects {
    background:
        linear-gradient(to left, rgba(052,232,158, 0.8), rgba(15,52,67, 0.8)),
        url("../images/hero.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    padding: 1% 0;
}

#projects h2 {
    margin-bottom: -20px;
}

.project-slider {
  margin:0 auto;
  padding: 4% 0 0;
  text-align:center;
  width: 100%;
  margin: 0;
  transform: translateY(100px);
  transition: 1s;
  opacity: 0;
}

.project-slider .card {
  margin: 5px 10px;
  height: auto;
  transition: 0.5s;
  opacity: 0.4;
}
.slick-dots li {
    display: inline;
}

.slick-dots {
    padding:1% 0 0;
}

.slick-dots li button {
    background: white;
    border: none;
    margin: 0 10px;
    font-size:0;
    transition:0.4s;
    width: 15px;
    height: 15px;
    opacity: 0.4;
}

.slick-dots li button:hover {
    background: var(--theme-color);
    opacity: 1;
    transform:scale(1.2);
}

.slick-dots .slick-active button{
    opacity: 1;
    background: var(--theme-color);
}

#prev, #next {
  cursor: pointer;
  color: #fff;
  font-size: 40px;
  transition: 0.3s;
  display:inline-block !important;
}

.arrows {
    text-align: center;
    letter-spacing: 10px;
}

#prev:hover, #next:hover {
  opacity: 1;
  color: var(--theme-color) !important;
  transform: scale(1.2) translateX(8px);
}

#prev:hover {
    transform: scale(1.2) translateX(-8px);
}

.slick-slide img {
    display: inline;
    object-fit: cover;
    max-height: 300px;
    box-shadow: 1px 3px 4px rgba(0,0,0,0.5), 0 3px 6px rgba(0,0,0,0.5);
}
.feature {
    display:table;
    padding: 10px 0;
}

.feature, .text{
    overflow: hidden;
    text-align: left;
}
.text{
    padding-left: 10px;
    display: table-cell;
    vertical-align: middle;
}
#projects .fa-stack{
    float: left;
    display: table-cell;
    color: var(--theme-color);
    vertical-align: middle;
}

#projects .fa-circle {
    opacity: 0.2;
}

.languages {
    font-weight: bold;
    color: var(--theme-color);
    word-spacing: 10px;
    text-transform: uppercase;
}
