:root {
  --background-color: #fff;
  --text-color: #3c3c3c;
  --theme-color: #114499;
  --font: "Open Sans", "Roboto", sans-serif;
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: var(--font);
    border: 0;
    padding: 0;
    margin: 0;
    font-size: 18px;
    overflow-x: hidden;
}

::selection {
    background: var(--theme-color);
    color: var(--background-color);;
}

.content {
    overflow-x: hidden;
}
h1 {
    font-size: 14vw;
    color: var(--background-color);
    text-transform: uppercase;
    font-weight: bold;
}

h2 {
    font-size: 60px;
    text-align: center;
    color: var(--text-color);
    text-transform: uppercase;
}

h3 {
    font-size: 35px;
}

h4 {
    font-size: 35px;
    color: var(--theme-color);
}

#hero {
    color: #fff;
    text-align: center;
    background:
        linear-gradient(to left, rgba(0,70,150, 0.8), rgba(0,255,255, 0.8)),
        url("../images/hero.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    height: 100vh;
    padding-top: 20%;
}

#hero #last-name {
    color: transparent;
     -webkit-text-stroke: 1px var(--background-color);;
}

.navbar-logo {
    width:60px;
    position: absolute;
    left: 20;
    top:5;
    transition: 1s;
    cursor: pointer;
  }
  
  .navbar-logo:hover {
      transform: scale(1.2) rotate3d(0,1,0, 180deg);
  }
  
  #navbar {
    padding: 20px;
    text-align:right;
    color: #fff;
    position: absolute;
    z-index: 100;
    position: fixed;
    top: 0;
    width: 100%;
  }
  
  .topbar-menu-item {
    padding: 0 1%;
    cursor: pointer;
    color: white;
    text-transform: uppercase;
    font-weight:100;
    display: inline-block;
    transition: 0.3s;
  }
  
  .topbar-menu-item:after {
      content:'';
      background: #fff;
      height: 2px;
      width: 0;
      display: block;
      transition: 0.3s;
      margin: 0 auto;
  }
  
  .topbar-menu-item:hover:after {
      width: 100%;
      background: var(--theme-color);
  }
  
  .topbar-menu-item:hover {
    color: var(--theme-color);
    text-decoration: none;
    transform: translateY(4px);
  }

.social-media {
    position: relative;
    top:-130px;
    opacity: 0;
    transition: 0.6s;
    text-align: justify;
    padding: 0 9%;
}

.social-media-icon {
    position: relative;
    display: inline-block;
    transition: 0.2s;
    bottom: -60px;
    color: var(--background-color);
    font-size: 20px;
    letter-spacing: 5px;
}

.social-media-icon:hover {
    color: gray;
    transform: scale(1.2) translateY(-3px);
}

.card {
    background: var(--background-color);
    color: var(--text-color);
    border: 1px solid black;
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.3), 0 3px 6px 0 rgba(0, 0, 0, 0.3), 0 5px 3px -3px rgba(0, 0, 0, 0.6);
    border-radius: 10px;
    padding: 15px;
}

#toggle {
    padding: 3%;
    text-align: center;
    background: var(--background-color);
    color: var(--text-color);
}

#toggle button{
    margin: 0.5%;
}

#about .row {
    background: var(--background-color);
    margin: 0;
    width: 100%;
}

#about .quote {
    background: var(--background-color);
    color: var(--text-color);
    padding-top: 2%;
    opacity: 0;
    transition: 1s;
    transform: translateY(50px);
    text-align: center;
    font-family: serif;
}

#about .card {
    margin: 7% 1% 1%;
    opacity: 0;
    transition: 1s;
    transform: translateX(50px);
    padding: 6% 2%;
    min-height: 400px;
}

#about .card.philosophy {
    background:
        linear-gradient(rgba(255, 255, 255, 0.7),
            rgba(255, 255, 255, 0.7)),
        url("../images/portrait.jpg");
    color: #3c3c3c;
    background-size: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    transform: translateX(-50px);
}

#about .about.card {
    background:
        linear-gradient(rgba(0, 0, 0, 0.5),
            rgba(0, 0, 0, 0.5)),
        url("../images/portrait-blackwhite.jpg");
    color: white;
    background-size: 100%;
    background-repeat: no-repeat;
    background-size: cover;
}

#about .resume.row {
    display:block;
    text-align: center;
    z-index: 10;
    position:relative;
}

#about .resume button {
    position: relative;
    top: 60px;
}

#blog {
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    padding: 2% 0;
    text-align: center;
    margin: auto;
    color: var(--text-color)
}

#blog #title {
    font-size: 30px;
    text-align: center;
    padding-bottom: 1%;
    color: var(--text-color)
}

#blog hr {
    border-top: 1px solid var(--theme-color);
}

#blog a {
    color: var(--theme-color);
    transition: 1s;
    text-decoration: none;
}

#blog a:hover {
    color: gray;
}

#blog img {
    box-shadow: 1px 3px 4px rgba(0,0,0,0.5), 0 3px 6px rgba(0,0,0,0.5);
    width: 50%;
}

#blog #date {
    padding-top: 1%;
    text-transform: uppercase;
}

#blog .post {
    padding: 2%;
    width: 60%;
    margin: auto;
    background: var(--background-color);
    opacity: 0.9;
    border-radius: 10px;
}

#highlights {
    background: var(--background-color);
    padding: 0 3%;
}

#highlights .cards {
    display: flex;
    flex-wrap: wrap;
    opacity: 0;
    transform:translateX(100px);
    transition: 1.5s;
}

#highlights .card {
    min-height: 180px;
    width: 23%;
    margin: 0 1% 20px 1%;
}

#highlights h3 {
    font-size: 25px;
    text-align: center;
    text-transform: uppercase;
    margin: auto;
    font-weight: bold;
}

#highlights .filter {
    text-align: center;
    word-spacing: 20px;
}

#highlights .filter a{
    text-transform: uppercase;
    color: var(--text-color);
    font-weight: 900 !important;
    transition: 0.4s;
    padding: 0.5%;
    cursor: pointer;
}

#highlights .filter a:hover {
    text-decoration: none;
    color: var(--theme-color);
}

#highlights .filter a.active {
    color: var(--background-color);
    background: var(--theme-color);;
    transition: 0.4s;
}

#highlights .card:after {
    font-weight:900;
    font-family:'Font Awesome 5 Free';
    font-size: 130px;
    position:absolute;
    top:0px;
    left:calc(50% - 80px);
    z-index: 0;
    opacity: 0.1;
    color: var(--theme-color);
}

#highlights .theater:after {
    content:'\f630';
}

#highlights .bridge:after {
    content:'\2663';
}

#highlights .speech:after {
    content:'\f086';
}

#highlights .academic:after {
    content:'\f19d';
}

.is-animated {
  animation: .6s zoom-in;
}

@keyframes zoom-in {
  0% {
   transform: scale(.1);
  }
  100% {
    transform: none;
  }
}

#stats {
    background:
        linear-gradient(to right, rgba(253,200,48, 0.8), rgba(243,115,53, 0.8)),
        url("../images/hero.jpg");
    background-size: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    padding: 2% 0 1% 0;
    color: var(--background-color);
    text-align: center;
    margin: 1% 0 ;
    font-size: 3.6em;
}

#stats .num {
    font-size: 1em;
}

#stats div{
    padding-bottom: 1%;
}

#stats span {
    font-size: 20px;
}

#skills {
    padding: 5%;
    background: var(--background-color);
    color: var(--text-color);
}

#skills .progress {
    margin-bottom: 2%;
    height: 20px;
}

#skills .progress-bar {
    transition: 1s;
    width: 0;
    background-color: var(--theme-color);
}

button{
  background:var(--theme-color);
  color:var(--background-color);
  border: 4px solid var(--theme-color);
  font-size:2em;
  transition:0.8s;
  border-radius: 50%;
  height:80px;
  width: 80px;
  text-transform: uppercase;
  cursor: pointer;
}
button:hover{
    background:var(--background-color);
    color: var(--theme-color);
    border-color: var(--theme-color);
}

#theme-toggle {
    background: black;
    color: #fff;
    font-size: 20px;
}

#font-toggle {
    background: black;
    color: #fff;
    font-size: 20px;
}

#menu-toggle {
    background: black;
    color: #fff;
    font-size: 16px;
}

.disabled {
    opacity: 0.5;
}

/* BOTTOM */
#contact {
    background:
        linear-gradient(to left, rgba(20,0,30, 0.8), rgba(180,0,255, 0.8)),
        url("../images/hero.jpg");
    padding: 5% 10%;
    color: white;
    text-align: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    text-align: left;
}

#contact input, textarea {
    color: white;
    background: transparent;
    border: 2px solid white;
    margin-bottom: 18px;
    margin-top: 5px;
    padding:10px;
    width: 100%;
    opacity: 0;
    transition: 0.5s;
    transform: translateX(-50px);
}

#contact textarea {
     height: 200px;
     transform: translateX(50px);
}

::placeholder {
    color: rgba(255,255,255,0.6);
}

#footer {
  padding: 20px;
  color: #fff;
  background: #3c3c3c;
  width: 100%;
  display: inline-block;
}

#footer a{
  display:inline-block;
  text-align: right;
  padding: 0;
  color: #fff;
  transition:0.2s;
  letter-spacing: 10px;
  font-size: 15px;
}

#footer a:hover {
    color: var(--theme-color);
    transform: scale(1.2) translateY(-3px);
}

#footer .backtotop {
    font-size: 30px;
    position: absolute;
    margin-top: -30px;
    right: 20px;
    color: var(--theme-color);
}

#blog-content {
    padding: 5%;
    line-height: 150%;
    white-space: pre-wrap;
}
.blog-overlay {
    position: fixed;
    background: black;
    width: 0%;
    height: 100%;
    top: 0%;
    left: 0%;
    opacity: 0.6;
    z-index: 1;
    transition: 0.5s;
}

#blog-list {
    position: fixed;
    background: white;
    width: 95%;
    height: 0%;
    top: 10%;
    left: 2.5%;
    z-index: 102;
    display: block;
    border-radius: 10px;
    transition: 0.5s;
}

#listing, .blogclosebtn {
    opacity: 0;
    transition: 0.5s;
}

.blogclosebtn {
    position: absolute;
    right: 10px;
    font-size: 2em;
}


.swal-modal {
    width:95% !important;
    padding: 1%;
}
