    /* GENERAL STYLES */
    
    * {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
        color: white;
    }
    
    i {color: inherit;}    
    html {font-size: 62.5%;}    
    body {
        letter-spacing: .18em;
        font-size: 13px;
        font-family: "Open Sans", "Roboto", sans-serif;
    }
    
    a {
        color: #999;
        cursor: pointer;
        transition: 0.5s;
        text-decoration: none;
    }
    
    a:hover {color: black;}    
    h2 {font-size: 4em;}    
    h3 {font-size: 2.5em;}    
    button {
        padding: 1%;
        font-size: 15px;
        border: 1px solid white;
        background: none;
        background-size: 200% auto;
        cursor: pointer;
        transition: 0.6s;
        text-transform: uppercase;
    }
    
    button:hover {
        background-image: linear-gradient(to left, rgba(0, 230, 255, 1) 0%, rgba(57, 69, 255, 1) 21%, rgba(100, 0, 255, 1) 40%, rgba(233, 0, 255, 1) 61%, rgba(255, 134, 0, 1) 86%, rgba(255, 237, 0, 1) 100%);
        background-position: right center;
    }

    .row {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }

    .menu-logo img {
        display: block;
        position: fixed;
        top: 15px;
        left: 15px;
        z-index: 15;
        width: 40px;
        transition: 0.6s;
    }

    .menu-logo img:hover {transform: rotateY(180deg);}    
    .toggle-menu {
        width: 50px;
        height: 50px;
        position: fixed;
        top: 10px;
        right: 10px;
        z-index: 15;
        display: none;
    }
    
    .toggle-menu i {
        position: absolute;
        display: block;
        height: 2px;
        background: white;
        width: 30px;
        left: 10px;
        -webkit-transition: all .3s;
        transition: all .3s;
    }

    .toggle-menu:hover {transform: rotateZ(90deg);}    
    .toggle-menu i:nth-child(1) {top: 16px;}    
    .toggle-menu i:nth-child(2) {top: 26px;}    
    .toggle-menu i:nth-child(3) {top: 36px;}    
    .open-menu i:nth-child(1) {
        top: 25px;
        -webkit-transform: rotateZ(45deg);
        transform: rotateZ(45deg);
    }
    
    .open-menu i:nth-child(2) {background: transparent;}    
    .open-menu i:nth-child(3) {
        top: 25px;
        -webkit-transform: rotateZ(-45deg);
        transform: rotateZ(-45deg);
    }
    
    nav {
        height: 0;
        opacity: 0;
        position: fixed;
        top: 70px;
        width: 100%;
        transition: all 1s;
    }
    
    .open-menu nav {
        opacity: 1;
        padding: 80px 0;
        z-index: 11;
        height: 100%;
    }
    
    nav ul {
        padding: 0 10px;
        display: flex;
        flex-direction: column;
        padding-top: 10%;
    }
    
    nav li {flex: 1;}    
    nav li a {
        font-size: 2em;
        display: block;
        padding: 30px;
        text-align: center;
        transition: background .3s;
    }
    
    #fp-nav {text-transform: uppercase;}    
    .fp-slidesNav ul {text-align: center;}    
    #fp-nav ul li a span,
    .fp-slidesNav ul li a span {
        width: 8px;
        height: 8px;
        margin: -4px 0 0 -4px;
        background: white;
    }
    
    #fp-nav ul li a.active span,
    .fp-slidesNav ul li a.active span,
    #fp-nav ul li:hover a.active span,
    .fp-slidesNav ul li:hover a.active span {
        width: 16px;
        height: 16px;
        margin: -8px 0 0 -8px;
        border: 1px solid white;
        background: white;
    }
    
    /* BLOG */
    
    #blog-section {
        text-align: center;
        padding: 0 10%;
    }
    
    #blog-section #title {
        font-size: 30px;
        text-align: center;
        padding-bottom: 1%;
    }
    
    .swal2-popup img {
        box-shadow: 1px 3px 4px rgba(0, 0, 0, 0.5), 0 3px 6px rgba(0, 0, 0, 0.5);
        max-width: 350px;
    }
    
    #blog-section #date {
        padding-top: 1%;
        text-transform: uppercase;
    }
    
    #blog-section .post {
        padding: 2%;
        margin: auto;
        opacity: 0.9;
        border-radius: 10px;
    }
    /* CONTACT */
    
    #contact-section {text-align: center;}    
    #contact-section input,
    textarea {
        width: 40%;
        padding: 1%;
        background: none;
        border: 1px solid white;
        resize: none;
        font-family: inherit;
    }
    
     ::placeholder {color: lightgray;}    
    footer {
        vertical-align: bottom;
        background: #3c3c3c;
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100%;
        height: 12%;
    }
    /* ABOUT */
    
    #home-section {
        text-align: center;
        color: white;
    }
    
    #home-section h1 {font-size: 13vw;}    
    #home-section #last-name {
        color: transparent;
        -webkit-text-stroke: 1px white;
    }
    
    .sm-icons {
        padding: 1% 0 0.5% 0;
        display: flex;
        justify-content: space-around;
        font-size: 35px;
    }

    
    .sm-icons i:hover {
        -webkit-background-clip: text;
	    -webkit-text-fill-color: transparent;
        /* color: magenta; */
        background-image: linear-gradient(to right, rgba(0, 230, 255, 1) 0%, rgba(57, 69, 255, 1) 25%, rgba(100, 0, 255, 1) 50%, rgba(233, 0, 255, 1) 75%);        
        cursor: pointer;
    }
    /* HIGHLIGHTS */
    
    .card {
        border: 1px solid black;
        box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.3), 0 3px 6px 0 rgba(0, 0, 0, 0.3), 0 5px 3px -3px rgba(0, 0, 0, 0.6);
        border-radius: 10px;
        padding: 2%;
        margin: 2% 1%;
    }

    
    #highlights .cards {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
    }
    
    #highlights .card {
        min-height: 100px;
        width: 20%;
        margin: 0 1% 20px 1%;
        vertical-align: center;
    }
    
    #highlights .highlight-item {
        font-size: 12px;
        text-align: center;
        text-transform: uppercase;
        margin: auto;
        font-weight: bold;
    }
    
    #highlights #filter {
        text-align: center;
        display: flex;
        justify-content: space-evenly;
    }
    
    #highlights #filter a {
        text-transform: uppercase;
        font-weight: 900 !important;
        padding: 0.5%;
        cursor: pointer;
    }
    
    /* SKILLS AND STATS*/
    
    #stats {
        text-align: center;
        font-size: 3.6em;
        padding: 0 3%;
    }
    
    #stats .row {
        display: flex;
        justify-content: space-between;
    }
    
    #stats .num {font-size: 1em;}    
    #stats div {padding: 1%;}    
    #stats span {font-size: 20px;}    
    #skills {padding: 0 4% 5% 4%;}    
    #skills .progress {
        margin-bottom: 2%;
        height: 20px;
        transition: 0.5s;
        background: #444;
        height: 10%;
    }
    
    #skills .progress-bar {
        width: 0;
        transition: 0.5s;
        height: 100%;
        padding: 1%;
        background: linear-gradient(to right, rgba(0, 230, 255, 1) 0%, rgba(57, 69, 255, 1) 21%, rgba(100, 0, 255, 1) 40%, rgba(233, 0, 255, 1) 61%, rgba(255, 134, 0, 1) 86%, rgba(255, 237, 0, 1) 100%);
    }
    
    #skills .col {
        float: left;
        width: 50%;
        padding: 10px;
        height: 300px;
    }
    
    #skills .row:after {
        content: "";
        display: table;
        clear: both;
    }
    
    .toggles {
        position: fixed;
        bottom: 10px;
        right: 10px;
        z-index: 100000001 !important;
    }
    
    .toggles button {
        font-size: 15px !important;
        width: 50px;
        height: 50px;
        position: absolute;
        bottom: 10px;
        right: 10px;
        background: black;
        color: white;
        border-radius: 50%;
        transition: 0.5s;
    }
    /* MENU */
    
    .overlay {
        height: 0%;
        width: 100%;
        position: fixed;
        z-index: 1;
        top: 0;
        left: 0;
        background-color: rgb(0, 0, 0);
        background-color: rgba(0, 0, 0, 0.9);
        overflow-x: hidden;
        transition: 0.5s;
    }
    
    .overlay a {
        padding: 8px;
        text-decoration: none;
        font-size: 36px;
        color: #818181;
        display: block;
        transition: 0.3s;
    }
    
    .overlay .active-anchor {color: white;}    
    .overlay a:hover,
    .overlay a:focus {color: #f1f1f1;}    
    /* PROJECT */
    
    section {padding: 0 40px;}    
    .fade-in {animation: fadeIn 1s;}    
    @keyframes fadeIn {
        0% {opacity: 0;}        
        100% {opacity: 1;}    
    }
    
    .fa-circle {opacity: 0.2;}    
    .img-hover {
        opacity: 0.6 !important;
        filter: grayscale(0) !important;
        transition: 0.5s;
    }
    
    .overlay-text {
        vertical-align: middle;
        text-transform: uppercase;
        display: table-cell;
    }

    .project-grid {padding: 0 12%;}    
    .project-overlay {
        position: absolute;
        bottom: 0;
        width: 100%;
        height: 100%;
        font-size: 20px;
        text-align: center;
        display: table;
        cursor: pointer;
    }
    
    .game-desc {
        padding: 2%;
        font-size: 15px;
    }
    
    .feature-col {
        text-align: justify;
        /* margin: auto; */
        width: 60%;
    }
    
    .project-image {
        margin: auto;
    }    
    #project-section img {
        filter: grayscale(100%);
        width: 100%;
        text-align: center;
        border: 1px solid rgba(0, 0, 0, 0.8);
        user-select: none;
        user-drag: none;
        user-select: none;
        opacity: 0.2;
    }
    
    .puzzle-js-grid {
        padding: 0 10%;
        text-align: center;
    }
    
    .projects-col, .puzzles-js-col {
        flex: 25%;
        position: relative;
        margin: 2%;
        border: 1px solid;
        border-image: linear-gradient(to right, rgba(0, 230, 255, 1) 0%, rgba(57, 69, 255, 1) 21%, rgba(100, 0, 255, 1) 40%, rgba(233, 0, 255, 1) 61%, rgba(255, 134, 0, 1) 86%, rgba(255, 237, 0, 1) 100%) 1;
    }
    
    .feature {
        display: table;
        padding: 10px 0;
    }

    .button-container {
        display: flex; 
        justify-content: space-around;
        margin: 0 35%;
    }

    .button-container button {
        padding: 3%;
    }
    
    .feature, .text {
        overflow: hidden;
        text-align: left;
    }
    
    .text {
        padding-left: 10px;
        display: table-cell;
        vertical-align: middle;
    }

    .swal2-popup {
        font-size: 12px !important;
    }
    
    .fa-stack {
        float: left;
        display: table-cell;
        vertical-align: middle;
    }

    #about-section .about-me {padding: 0 3%;}    
    .about-col {flex: 50%;}

    .logo img {width: 100%;}
    .logo-text {
        padding-top: 5%;
        text-align: center;
        text-transform: uppercase;
    }

    .logo {
        width: 150px;
        height: 150px;
        margin: auto;
        display:flex;
    }
    
    .portrait {
        overflow: hidden;
        margin: 10% 0;
        width: 200px;
        height: 280px;
        box-shadow: 5px 5px 10px orange;
    }

    .portrait img {filter: grayscale(1);}
    .about-text {
        padding-top: 3%;
        font-size: 1.5em;
        text-align: center;
    }

    /* RESEARCH  */
    
    .paper-title {font-size: 20px;}    
    .paper-abstract {padding: 1% 0;}    
    #research-section button {
        margin: 0 1% 0 0;
    }

    #research-section .fp-tableCell {
        padding-top: 2%;
        vertical-align: top;

    }